@import url(css/fonts.css);
body {
  background: #fefefe;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.daw-header {
  background: #fefefe;
  /* background: url("../images/background3.jpg"); */
  /* background-size: 100% 200% !important; */
  /* background-position: 0 -50px; */
  width: auto;
  max-width: 100vw;
  margin: 0;
  padding: 0 1em;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.daw-title {
  /* background: -moz-linear-gradient(top, #f0f8f8, transparent); */
  /* background: -webkit-linear-gradient(top, #f0f8f8, transparent); */
  margin: 0 auto;
  padding: 0.25em;
  width: auto;
  font-size: 3em;
  font-family: 'Kaushan Script'; }

.daw-subtitle {
  margin: 0.75em auto;
  font-family: 'EB Garamond', serif;
  font-size: 2em;
  color: #024874;
  /* background: rgba(220, 220, 220, 0.45);  */ }

.daw-body {
  display: flex;
  flex-direction: column;
  background: transparent;
  background: -moz-linear-gradient(right, #fffdec, transparent);
  background: -webkit-linear-gradient(right, #fffdec, transparent);
  background: linear-gradient(right, #fffdec, transparent);
  margin: 0;
  margin-top: 1rem;
  padding: 0 3rem;
  width: auto;
  /* max-width: 100vw; */
  /* border-top: 4px solid #a8d7c6; */
}

.daw-decor {
  display: none;
  background-color: transparent;
  background-size: 200px auto !important;
  background-position: top left !important;
  background-repeat: no-repeat !important;
  position: sticky;
  min-height: 42em; }

.daw-links {
  background: -moz-linear-gradient(top, #e8f8fe, transparent);
  background: -webkit-linear-gradient(top, #e8f8fe, transparent);
  background: linear-gradient(top, #e8f8fe, transparent);
  width: auto;
  height: auto;
  /* border-right: 4px solid #a8d7c6; */
  padding: 2em 2.5em 2em 2.5em;
  text-align: left;
  font-family: 'Josefin Sans';
  font-size: 1.6em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.daw-content {
  /* width: 100%; */
  margin: 0;
  padding: 0;
  padding-bottom: 10em;
  font-family: sans-serif;
  /* font-family: 'EB Garamond', serif; */
}

article {
  font-size: 1.5rem;
  /* margin-left: 3rem; */
  padding: 0;
  text-align: left;
  /* width: auto; */
  max-width: 55em;
}
article div {
  word-break: normal;
  line-break: normal;
  /* width: 100%; */
  /* max-width: 90vw; */
  margin-bottom: 1rem;
}

li {
  font-size: 1.2em;
  list-style-type: circle; }

li a {
  color: #506278; }

.index-page {
  font-family: sans-serif;
  line-height: 1.5;
}

.adisti-page .header {
  display: flex;
  vertical-align: top; }
  .adisti-page .header img {
    margin: 0 2rem 2rem 0;
    width: auto;
    height: 100%; }
  .adisti-page .header p {
    margin-top: 0; }
.adisti-page .adisti-gallery {
  display: flex;
  flex-wrap: wrap; }
  .adisti-page .adisti-gallery img {
    width: auto;
    height: 100%;
    max-width: 500px;
    margin: 0 1rem 1rem 0; }


@media only screen and (max-width: 700px) {
  .daw-title {
    margin: 0 auto;
    padding: 0;
    font-size: 2rem;
    text-align: center;
  }
  .daw-subtitle {
    font-size: 1rem;
    padding: 0;
  }
  .daw-content {
    padding: 0.25rem;
  }
  article {
    font-size: 1.5em;
  }
}
